@import url('https://fonts.googleapis.com/css2?family=IBM+Plex+Sans:ital,wght@0,100..700;1,100..700&display=swap');
@import "tailwindcss";

:root {
  --font-family-ibm: 'IBM Plex Sans', sans-serif;
  --font-ibm: var(--font-family-ibm);

  /* Define font sizes */
  --font-size-base: 1rem;
  --font-size-lg: 1.125rem;
  --font-size-xl: 1.25rem;
  --font-size-2xl: 1.5rem;
  --font-size-3xl: 1.875rem;
  --font-size-4xl: 2.25rem;

  --font-weight-normal: 400;
  --font-weight-semibold: 600;
  --font-weight-bold: 700;
}

@layer base {
  :root {
    --main-text: #180f02;
    --main-background: #f6f3ee;
    --main-primary: #f4a22f;
    --main-primary-5: #ffe1b7;
    --main-secondary: #10da7f;
    --main-accent: #28cbf0;
  }
  
  body {
    font-family: var(--font-family-ibm);
    font-optical-sizing: auto;
    font-weight: 400;
    font-style: normal;
  }
  h1 {
    font-size: var(--font-size-4xl); /* 36px */
    font-weight: var(--font-weight-bold);
    line-height: 1.2;
  }

  h2 { 
    font-size: var(--font-size-3xl); /* 30px */
    font-weight: var(--font-weight-semibold);
    line-height: 1.3;
  }
  
  h3 { 
    font-size: var(--font-size-2xl); /* 24px */
    font-weight: var(--font-weight-semibold);
    line-height: 1.4;
  }
  
  h4 { 
    font-size: var(--font-size-xl); /* 20px */
    font-weight: var(--font-weight-semibold);
    line-height: 1.4;
  }
  
  h5 { 
    font-size: var(--font-size-lg); /* 18px */
    font-weight: var(--font-weight-semibold);
    line-height: 1.5;
  }
  
  h6 { 
    font-size: var(--font-size-base); /* 16px */
    font-weight: var(--font-weight-semibold);
    line-height: 1.5;
  }
}

.dark {
  --dark-text: #fdf4e7;
  --dark-background: #0f0c08;
  --dark-primary: #d07e0b;
  --dark-secondary: #22ef93;
  --dark-accent: #0fb2d7;
}
/* Custom Styles: Main Section Background */
a:hover, button:hover, .nav-link:hover, #category-item:hover {
  cursor: url('/assets/cursor_pointer.png'),pointer;
}
#main, #quiz-screen {
  background: url('/assets/Wave.svg') no-repeat center center / cover;
}

/* Quiz Timer Custom Animation */
.scale-pulse{
  animation: scalePulse .5s ease-in-out infinite;
}
@keyframes scalePulse{
   0%, 100% {
    transform: scale(1);
  }
  50% {
    transform: scale(1.2);
  }
}