@import url('https://fonts.googleapis.com/css2?family=IBM+Plex+Sans:ital,wght@0,100..700;1,100..700&display=swap');
@import 'tailwindcss';

/* Font Integration - Google Fonts - IBM Plex Sans */
@theme{
    --font-ibm: 'IBM Plex Sans', sans-serif;
}
body{
    font-optical-sizing: auto;
    font-weight: 400;
    font-style: normal;
     font-variation-settings: "wdth" 100;
}